<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>code compare</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
 <h1>Use following space to code according to the question</h1>
<!--<iframe src='http://www.programmr.com/embed.php?action=tf&path=demostudent//view/temp_1525703790/Example.java' width='100%' height='400' frameborder='0'></iframe> -->

 <table>
            <tr>
                <!--<td>
                    <div class="tag">HTML (Body)</div>
                    <div id="html" class="content" contenteditable></div>
                </td> -->
                <td>
                    <div class="tag">JAVA</div>
                    <div id="Code" class="content" contenteditable></div>
                </td>
            </tr>
 </table>
 <button type="CodePostButton" onclick="onCodePostButtonClick('onCodePostButtonClick/');">Click Me!</button>
 <!--<table>
            <tr>
                <td>
                    <div class="tag">HTML (Body)</div>
                    <div id="html" class="content" contenteditable></div>
                </td>
                <td>
                    <div class="tag">CSS</div>
                    <div id="css" class="content" contenteditable></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tag">JavaScript</div>
                    <div id="js" class="content" contenteditable></div>
                </td>
                <td>
                    <div class="tag">Output</div>
                    <iframe id="output"></iframe>
                </td>
            </tr>
        </table>-->
</body>
</html>
<script>
{#    function onCodePostButtonClick(url) {#}
{#                //window.open(url);#}
{#                var str = document.getElementById('Code').innerHTML.toString();#}
{##}
{#                $.get(url +str+'/', function (data) {#}
{#                    alert("counter updated!" + toString(data));#}
{#                });#}
{##}
{#                $.ajax({#}
{#                  type: "POST",#}
{#                  url: url,#}
{#                  data: str,#}
{#                  dataType: String#}
{#                }).done(function () {#}
{#                    alert("Done");#}
{#                }).fail(function () {#}
{#                    alert("fail")#}
{#                });#}
{#                        }#}
//$('#buttonId').click(function() {
function onCodePostButtonClick(url){
        var str = document.getElementById('Code').innerHTML.toString();
    $.ajax({
        url: url,
        //method: 'POST', // or another (GET), whatever you need
        type:"POST",
        data: {
            nameStr: str, // data you need to pass to your function
            click: true
        },
        success: function (data) {
            // success callback
            // you can process data returned by function from views.py
            alert("Status Code : " + data);
        },
        error: function (request, status, error) {
            alert("Fail");
            alert(request.responseText);
    }
    });
}
window.onload=function(){
    var html=document.getElementById("html"),
        css=document.getElementById("css"),
        js=document.getElementById("js"),
        output=document.getElementById("output"),
        working=false,
        fill=function(){
            if(working){
                return false;
            }
            working=true;
            var document=output.contentDocument,
                style=document.createElement("style"),
                script=document.createElement("script");
            document.body.innerHTML=html.textContent;
            style.innerHTML=css.textContent.replace(/\s/g,"");
            script.innerHTML=js.textContent;
            document.body.appendChild(style);
            document.body.appendChild(script);
            working=false;
        };
    html.onkeyup=fill;
    css.onkeyup=fill;
    js.onkeyup=fill;
}
</script>
<style>

table{
    border:0;
    height:50%;
    margin:0;
    padding:0;
    width:50%;
}
html,body,div.content,iframe{
    border:0;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
td{
    border:2px solid black;
    height:50%;
    padding:25px 5px 5px 5px;
    position:relative;
    vertical-align:top;
    width:50%;
}
div.tag{
    position:absolute;
    right:5px;
    top:5px;
}
</style>